<div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombres" [(ngModel)]="medico.nombres">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos" [(ngModel)]="medico.apellidos">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="CMP" [(ngModel)]="medico.cmp">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="foto" [(ngModel)]="medico.fotoUrl"  alt="" width="50%" >
    </mat-form-field>
    <img mat-card-image  [src]="medico.fotoUrl"> 

</div>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>

