<mat-card> Ingrese los datos del Paciente </mat-card>

<form class="example-container" [formGroup]="form" #formPacientes="ngForm" (ngSubmit)="operar()">
    <div>
        <mat-form-field class="example-full-width">
            <!--mat-label>Input</mat-label-->
            <input matInput placeholder="ID" fieldControlName="id">
        </mat-form-field>

    </div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombres" fieldControlName="nombres">
    </mat-form-field>
   
 
     <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos"  required fieldControlName="apellidos">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="DNI"  required fieldControlName="dni" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefono"  required fieldControlName="dni" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefono"  required fieldControlName="telefono" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Direccion"  required fieldControlName="direccion" >
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="formPacientes.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink="/paciente" type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>